*{
    height:0%;
    width: 0%;
}



body{
    background-color: rgb(204, 161, 161);
    
}

div{
    height: 200px;
    width: 200px;
}

#box1{
  

    background-color: aquamarine;


}

#box2{

    background-color: blue;
}

#box3{
    background-color: rgb(125, 47, 60);
}